# Rider project files
.idea/
*.iml
workspace.xml
shelf/
httpRequests/

# Rider-specific configs
projectSettingsUpdater.xml
modules.xml
contentModel.xml

# .NET build outputs
bin/
obj/
dist/

# NuGet packages
packages/

# ReSharper caches
_ReSharper.Caches/

# User-specific settings
Cobra.sln.DotSettings.user

# Data source configs
dataSources/
dataSources.local.xml
